<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<import resource="classpath:META-INF/spring/batchContext.xml"/>

	<context:component-scan base-package="de.test"/>

	<!--This repository is only really intended for use in testing and rapid prototyping-->
	<bean id="jobRepository" class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean"/>

	<bean id="jobLauncher" class="org.springframework.batch.core.launch.support.SimpleJobLauncher"
		p:jobRepository-ref="jobRepository"/>

	<bean id="jobRegistry" class="org.springframework.batch.core.configuration.support.MapJobRegistry"
		/>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="org.h2.Driver" p:url="jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE"
		p:username="sa" p:password="" />

	<bean id="appJdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!-- JPA EntityManagerFactory configuration -->
	<bean id="jpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

	<bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:dataSource-ref="dataSource" p:packagesToScan="de.test" p:jpaVendorAdapter-ref="jpaVendorAdapter"/>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- ItemReader which reads data from the database -->
	<bean id="itemReader" class="org.springframework.batch.item.database.JpaPagingItemReader"
		p:entityManagerFactory-ref="entityManagerFactory" p:queryString="SELECT s FROM CarEntity s"/>

	<bean id="carProcessor"	class="de.test.CarItemProcessor" scope="step"/>

	<!-- ItemWriter which writes the data to the database -->
	<bean id="itemWriter" class="org.springframework.batch.item.database.JpaItemWriter"
		p:entityManagerFactory-ref="entityManagerFactory" />

</beans>
